.dyk-slim h2{padding-top:68px;text-align:center}
.dyk-slim h2::before{width:44px;height:55px;top:28px;transform:translate(-50%,-50%)}
.dyk-slim h2::after{width:64px;height:64px;top:28px}
@media(max-width:700px){.dyk-slim h2{padding-top:50px}.dyk-slim h2::before{width:32px;height:40px;top:20px}.dyk-slim h2::after{width:44px;height:44px;top:20px}}